body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-spacing: 0;
}

.toggle-container {
    display: none;
}

@media(max-width: 450px){
    .toggle-container {
    display: inline-block;
    margin-left: 15px;
    }
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
}
.header {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}
.header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin: 0 15px;
}

.toggle-button {
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}
.banner img, .image-section img {
    width: 100%;
    height: 430px;
    display: block;
}
.content {
    padding: 20px;
    color: #333333;
    font-size: 16px;
}
.content h1 {
    font-size: 17px;
    color: #000000;
}
.content p {
    margin-bottom: 15px;
}
.highlight {
    color: #6c2dc7;
    font-weight: bold;
}
.dark-section {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}
.dark-section h2 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.dark-section p {
    color: #ffffff;
}
.button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.gray-section {
    background-color: #f3f3f3;
    padding: 20px;
}
.nutrients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.nutrient {
    width: 45%;
    margin: 10px 0;
}
.nutrient span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #6c2dc7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}

.white-icon{
    display: none;
}

.bullet-list {
    list-style: none;
    padding: 0;
}
.bullet-list li {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333333;
}
.bullet-list li::before {
    content: '\2022'; /* Bullet point */
    font-size: 40px;
    color: #6c2dc7;
    margin-right: 10px;
}

.protein-section {
    background-image: url('../img/Grupo_de_máscara_2@2x.png'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 600px;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

.banner-content {
    position: relative;
    z-index: 1;
}

.protein-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.protein-section h2 {
    font-size: 22px;
    font-weight: bold;
    color: #6c2dc7;
}

/* Dark Mode */
body.dark-mode {
    background-color: #000000 !important;
    color: #ffffff !important;
}
body.dark-mode .container {
    background-color: #111111 !important;
}

body.dark-mode .white-icon{
    display: block;
}

body.dark-mode .dark-icon{
    display: none;
}

body.dark-mode .gray-section {
    background-color: #111111 !important;
}
body.dark-mode .content h1, body.dark-mode .content p, body.dark-mode .icons {
    color: #ffffff !important;
}

.icons {
    color: #ffffff !important;
}
body.dark-mode .highlight {
    color: #bb86fc !important;
}