@font-face {
    font-family:'Helvetica Neue Bold';
    src: url('../fonts/HelveticaNeue-Bold.otf');
    font-weight: bold;
    font-style: normal;    
}

@font-face {
    font-family:'Helvetica Neue Black';
    src: url('../fonts/Proxima\ Nova\ Black.otf');
    font-weight: bold;
    font-style: normal;    
}

@font-face {
    font-family:'Helvetica Neue Regular';
    src: url('../fonts/HelveticaNeue-Roman.otf');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family:'Proxima Nova Semibold';
    src: url('../fonts/Proxima\ Nova\ Semibold.otf');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family:'Proxima Nova Black';
    src: url('../fonts/Proxima\ Nova\ Black.otf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family:'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
    
}

:root {
    --bg-o1-light: #FFFFFF;
    --bg-03-light: #EDEDED;
    --texto-01-dark: #4A3683;
    --texto-01-light: #7C68B5;
    --bg-o1-dark: #CDCDCD;
    --bg-03-dark: #BBBBBB;
    --bg-o3-medium-dark: #666666;
    --bg-o4-light-grey: #847F7A;
    --bg-o3-medium-grey: #333333;
    --bg-o2-light: #141414;
    --bg-o2-dark: #000000;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 375px;
    background-color: var(--bg-o1-light)#ffffff;
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-spacing: 0;
}

td {
    padding: 0;
}

.release {
    border-right: solid; 
    border-left: solid; 
    padding: 0 1.8vw;
    border-width: 1px;
}

.icons {
    color: var(--bg-o1-light) !important;
}

.toggle-container {
    display: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--bg-o1-light);
}
.header {
    background-color: var(--bg-o2-dark);
    text-align: center;
    height: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header a {
    color: var(--bg-o1-light);
    font-family:'Proxima Nova Semibold', Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    margin: 0 15px;    
    margin-right: 0px;
    margin-left: 0px;

}

.toggle-button {
    cursor: pointer;
    background-color: var(--bg-o1-light);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.omega-banner{
    background-image: url("../img/CENA\ -\ Omega\ Brain\ -\ ALTA-002@2x.png");
    width: 100%;
    display: block;
    height: 430px;
    background-size: cover;
}

.banner img, .image-section img {
    width: 100%;
    display: block;
}
.content {
    padding: 40px 20px;
}
.content h1 {
    font-size: 17px;
    color: var(--bg-o3-medium-grey);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.content p {
    margin-bottom: 15px;
    color: var(--bg-o3-medium-dark);
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}
.highlight {
    font-family: 'Helvetica Neue Bold', Helvetica, sans-serif;
    color: var(--texto-01-light);
    font-size: 17px;
}

.Encapsulado-omega{
    height: 300px;
}
.dark-section {
    background-color: var(--bg-o2-light);
    color: var(--bg-o1-light);
    padding: 0 20px;
    height: 478px;
}
.dark-section h2 { 
    font-family: 'Helvetica Neue Bold', Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--bg-o1-light);
    margin-top: 0;
}
.dark-section p {
    color: var(--bg-o1-light);
    font-family: Helvetica, sans-serif;
    font-size: 17px;

}
.button {
    width: 220px;
    height: 45px;
    margin: 20px 0 0 0;
    padding: 10px;
    text-align: center;
    background-color: var(--bg-o1-light);
    color: var(--bg-o2-light);
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.gray-section {
    background-color: var(--bg-03-light);
    padding: 17px;
    font-family: Helvetica, sans-serif;
}

.gray-section p {
    font-family: Helvetica, sans-serif;
    color: var(--bg-o2-light);
    margin-top: 20px;
    margin-bottom: 18px;
    max-width: 290px;
    padding-left: 24px;
    padding-right: 19px;
    line-height: 1.2;
}

.nutrients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.nutrient {
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 45%;
    margin: 23px 0;
    color: var(--bg-o2-light);
    font-size: 17px;
}

.nutrient span {
    font-family: 'Roboto Light', Helvetica, sans-serif;
    display: block;
    font-size: 17px;
    border: 1px solid var(--texto-01-light);
    color: var(--bg-o2-light);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.white-icon{
    display: none;
}

.bullet-list {
    list-style: none;
    padding: 0;
    color: var(--bg-o3-medium-grey);
}
.bullet-list li {
    display: flex;
    color: var(--bg-o3-medium-grey);
    align-items: center;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    height: 24px;
}
.bullet-list li::before {
    content: '\2022';
    font-size: 40px;
    color: var(--texto-01-light);
    margin-right: 10px;
}

.protein-section {
    background-image: url('../img/Grupo_de_máscara_2@2x.png'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 600px;
    height: 373px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

.protein-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Proxima Nova Semibold', sans-serif ;
    padding: 0 40px;
}

.protein-section h2 {
    font-family: 'Helvetica Neue Black', Helvetica, sans-serif ;
    font-size: 21px;
    color: var(--texto-01-light);
}

.campaing {
    display: flex;
    margin-top: 25px;
}

.campaing p {
    margin: 0;
    font-weight: 400;
}

.campaing img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.campaing h3 {
    margin-bottom: 0;
    font-family: 'Helvetica Neue Bold', Helvetica, sans-serif;
    color: var(--texto-01-light);
    font-size: 17px
}

.campaing h5 {
    margin: 0;
    font-family:  Helvetica, sans-serif;
    font-weight: 400;
    color: var(--bg-o3-medium-grey);
    font-size: 12px

}

.campaing h4 {
    margin-bottom: 0;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
    color: var(--bg-o3-medium-grey);
    font-size: 16px
}

.campaing-flavors{
    font-family: Helvetica, sans-serif;
    color: var(--bg-o3-medium-grey);
}

.omega-img img{
    margin-top: 40px;
}

.composition-content{
    font-family:  Helvetica, sans-serif;
    color: var(--bg-o3-medium-grey);
    padding: 0 23px;
}

.composition-content h3 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}

.composition-content ul {
    list-style: none;
    padding: 0;
}

.composition-content li{
    margin-bottom: 7px;
}

.composition-content li::before {
    margin-bottom: 5px;
    content: '\2022'; /* Bullet point */
    font-size: 16px;
    margin-right: 10px;
}

.dark-section-omega{
    background-color: var(--bg-o2-dark);
    color: var(--bg-o1-light);
    padding: 0 20px;
    height: 247px;
    text-align: center;
    width: 100%;
}

.dark-section-omega h2{
    font-family: 'Helvetica Neue Bold', Helvetica, sans-serif;
    color: var(--texto-01-light);
    padding: 0 12px;
    font-size: 21px;
}

.dark-section-omega p{
    font-family: 'Helvetica Neue Bold', Helvetica, sans-serif;
    color: var(--bg-o1-light);
    padding: 0 40px;
    border-bottom: solid 2px var(--texto-01-light);
    padding: 0 12px 12px 12px;
    font-size: 17px;
    width: 244px;
    margin: 0 auto;
}

.dark-section-btns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.dark-section-btns button{
    margin-top: 0;
    width: 121px;
    height: 46px;
    border-radius: 4px;
}

.campaing-endurance {
    display: flex;
    margin: 40px 20px 40px 24px;
    font-family: Helvetica, sans-serif;
}

.campaing-endurance h3 {
    margin-bottom: 0;
    font-weight: bold;
    color: var(--texto-01-light);
    padding: 0 0 17px 25px;
    font-size: 20PX;
}

.campaing-endurance p {
    margin: 0;
    font-weight: 400;
    padding-left: 25px;
    font-size: 16px
}

.emphasis{
    padding: 4px 5px 5px 0px !important;
    margin-left: 21px !important;
    background-color: var(--bg-o4-light-grey);
    max-width: 125px;
    height: 18px;
    border-radius: 3px;
    color: var(--bg-o1-light);
    font-size: 18px;
    text-align: center;
    margin-bottom: 3px !important;
}

.campaing-endurance a {
    padding-left: 25px;
    margin-top: 10px;
    color: #7C68B5;
    font-size: 15px;
}

.campaing-endurance img {
    width: 138px;
    height: 163px;
}

.line{
    text-decoration: line-through;
}

.final-sectiion{
    background-image: url(../img/Grupo\ 2501@2x.png);
    background-size: cover;
    width: 100%;
    height: 163px;
}

.final-sectiion-btn{
    width: 181px;
    margin: 12px auto;
    padding: 10px;
    text-align: center;
    background-color: var(--bg-o1-light);
    color: var(--bg-o2-light);
    font-family: 'Helvetica Neue Regular', Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Dark Mode */
body.dark-mode {
    background-color: #000000 !important;
    color: var(--bg-o1-light) !important;
}
body.dark-mode .container {
    background-color: #111111 !important;
}

body.dark-mode .white-icon{
    display: block;
}

body.dark-mode .dark-icon{
    display: none;
}

body.dark-mode .gray-section {
    background-color: var(--bg-o3-medium-grey) !important;
}

body.dark-mode .content h1, body.dark-mode .gray-section p,
body.dark-mode .nutrient, body.dark-mode .nutrient span, body.dark-mode .content p,
body.dark-mode .icons, body.dark-mode .bullet-list li, 
body.dark-mode .composition-content, body.dark-mode .composition-content li,
body.dark-mode .campaing h5,body.dark-mode .campaing h4{
    color: var(--bg-o1-light) !important;
}

body.dark-mode .highlight {
    color: var(--texto-01-light) ;
}

body.dark-mode .toggle-button{
    background-image: url("../Icons/light-sun.svg");
}

@media(max-width: 450px){

    .toggle-button{
        background-image: url("../Icons/light-moon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #000000;
        width: 30px;
        height: 30px;
    }

    .toggle-container {
    display: inline-block;
    margin-left: 15px;
    position: relative;
    left: 85%;     
    top: 1%;
    }

    .release {
        padding: 0 10px;
    }

    .protein-section h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .protein-section h2 {
        font-size: 22px;
    }
}